{
  "Actions": [
    {
      "Name": "Forward",
      "KeyboardCode": "W",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Backward",
      "KeyboardCode": "S",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Left",
      "KeyboardCode": "A",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Right",
      "KeyboardCode": "D",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Jump",
      "KeyboardCode": "space",
      "GamepadCode": "A",
      "GroupName": "Movement"
    },
    {
      "Name": "Kick",
      "KeyboardCode": "J",
      "GamepadCode": "None",
      "GroupName": "Actions"
    },
    {
      "Name": "Rotate",
      "KeyboardCode": "K",
      "GamepadCode": "None",
      "GroupName": "Actions"
    }
  ],
  "__guid": "dd7ae90d-0555-48e1-b398-da407b0583de",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}