CountDown {
    position: absolute;
    top: 30%;
    font-weight: bold;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size:40px;
}
